.department-page {
  padding-top: 20px;
  margin: 0 15px;
  position: absolute;
  top: 35px;
  bottom: 30px;
  right: 0;
  left: 0;
  /* Ui-grid */
}
.department-page .myBtn-create,
.department-page .myBtn-create > .btn {
  padding: 3px 10px;
  margin: 5px 0;
}
.department-page .myInput-search {
  padding: 5px 10px;
  height: 26px;
  box-shadow: none;
  font-size: 12px;
}
.department-page .input-group-sm > .form-control,
.department-page .input-group-sm > .input-group-addon,
.department-page .input-group-sm > .input-group-btn > .btn {
  height: 26px;
  font-size: 12px;
  padding: 3px 10px;
}
.department-page .grid-wrap {
  position: absolute;
  top: 100px;
  bottom: 15px;
  left: 0;
  right: 0;
}
.department-page .grid-wrap input,
.department-page .grid-wrap button,
.department-page .grid-wrap select,
.department-page .grid-wrap textarea {
  font-size: 12px;
}
.department-page .grid-wrap .ui-grid-top-panel {
  font-size: 12px;
}
