<div class="employee-page">
    <button type="button" class="myBtn-create btn btn-default btn-xs " ng-click="add()">Create new department</button>
    <div class="input-group input-group-sm">
        <input type="text" class="form-control myInput-search" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default myBtn-search" type="button">Apply</button>
            <button class="btn btn-default myBtn-search" type="button">Reset</button>
        </span>
    </div>
    <div class="grid grid-wrap" ui-grid-pagination ui-grid-selection ui-grid="gridOptions" ui-grid-auto-resize></div>
</div>